.title a {
  color: white;
}

.appLogo {
  animation: logo-spin infinite 20s linear;
  height: 70px;
  margin-top: 20px;
}

.scriptLogo {
  height: 70px;
  margin-top: 20px;
}

.appHeader {
  background-color: #222;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
