/* GENERALS */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans");
* {
  font-family: "Open Sans", "Roboto", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Libre Baskerville", "Merriweather", serif;
}

.title h1 {
  font-size: 1.7em;
}

.app {
  text-align: center;
}

a {
  color: black;
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* ARTICLES AND ARTICLE */
.list-group {
  transition: visibility 0s, opacity 0.5s linear;
}

.card-footer {
  transition: visibility 2s, opacity 5s linear;
}

/* IMAGE AUTORESIZE */
.img-card-top {
  max-width: 100%;
  height: auto;
}
